.normal_font {
    -fx-font: 26px "Georgia";

}

.buttons_font_large {
    -fx-font: 25px "Georgia";
}

.welcome_text_elephant{
    -fx-font: 36px "Elephant";
}

.welcome_text_body {
    -fx-font: 24px "Georgia";
    -fx-text-fill: #e5e5e5;

}