.normal_font {
    -fx-font-size: 26;
    -fx-font: "Lucida sans";

}

.buttons_font_large {
    -fx-font-size: 25
;
    -fx-font: "Lucida sans";
}

.welcome_text_elephant{
    -fx-font-size: 32;
    -fx-font: "Elephant";
}

.welcome_text_body {
    -fx-font-size: 32;
    -fx-font: "Lucida sans";
    -fx-color-label-visible: WHITE;
}